nav-bar
section#lists
  h1 Listas
  .row
    uib-alert.alert.alert-success(ng-repeat='alert in lists.alerts', dismiss-on-timeout='{{alert.timer}}', close='lists.closeAlert($index)') {{alert.msg}}
    .col-md-6
      h3 PASO 1
      form
        form-group
          label Seleccionar Evento
          select.form-control(multiple, ng-model='lists.selectedEvent')
            option(ng-repeat='(key, event) in lists.events', ng-click='lists.eventkey=key;lists.getUsers();lists.uploaded=false') {{event.title}}
    .col-md-6(ng-if='lists.selectedEvent')
      h3 PASO 2
      form(ng-submit='lists.upload()')
        .form-group
          label Subir lista de invitados para evento "{{lists.selectedEvent[0]}}"
          input(type='file', file-reader='fileContent', ng-bind='lists.userlist=fileContent')
          small *La lista debe estar con formato .csv
          .input-group(ng-if='lists.userlist')
            button.btn.btn-success(type='submit')
              | Subir  
              i.fa.fa-upload
          br
          span.label.label-warning(ng-if='lists.usersArr') Ya existe una lista para este evento.
          .loading(ng-if='lists.uploadLoading')
            i.fa.fa-spinner.fa-pulse
        a.btn.btn-default(ng-if='lists.usersArr', ng-click='lists.downloadList()')
          | Bajar lista  
          i.fa.fa-download
  .row(ng-if='lists.usersArr')
    .col-md-6
      h3 Buscar invitado
    .col-md-12
      input.form-control(
                        type='text',
                        ng-model='lists.loadedUsers',
                        typeahead-min-length='3'
                        uib-typeahead='user as (user.firstname + " " + user.lastname) for user in lists.usersArr | filter:$viewValue | limitTo:8',
                        typeahead-on-select='lists.generateQR($item)',
                        typeahead-no-results='lists.noResults')
      .row(ng-if='lists.noResults')
        .col-xs-12
          span.label.label-danger
            | No hay resultados.  
            i.fa.fa-warning
  .row(ng-if='lists.selectedEvent')
    .col-md-12
      h3 Inscribir nuevo
    .col-md-12
      form(ng-submit='lists.newInvite()')
        .col-xs-8
          .col-xs-4
            form-group
              label Nombre
              input.form-control(type='text', ng-model='lists.newUser.fname')
          .col-xs-4
            form-group
              label Apellido
              input.form-control(type='text', ng-model='lists.newUser.lname')
          .col-xs-4
            form-group
              label
                | Institución  
                small (Opcional)
              input.form-control(type='text', ng-model='lists.newUser.cargo')
        .col-xs-4
          form-group
            button.new-user.btn.btn-success(type='submit')
              | Ingresar  
              i.fa.fa-plus-circle
